.app {
  padding: 20px 80px;
  width: 100%;
  //overflow: hidden;

  @media (max-width: 768px) {
    padding: 20px;
  }

  .search {
    position: relative;
    width: 100%;
    max-width: 631px;

    input {
      outline: 1px solid #5A5C66;;
      border: none;
      width: 100%;
      background: #5A5C66;
      padding: 18px 26px;
      color: #B2B7BF;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 137.687%;
      transition: .2s;

      &:focus {
        outline: 1px solid #2b3642;
      }

      &::placeholder {
        color: #B2B7BF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 137.687%;
      }
    }

    .icon {
      background: transparent;
      cursor: pointer;
      border: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      font-size: 20px;
      color: #fff;
    }
  }

  .table {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 4fr 5fr;
    width: 100%;
    overflow-x: auto;

    & > div {
      padding: 13px;
      display: flex;
      align-items: center;
    }

    .head {
      color: #fff;
      background: #474955;

      button {
        position: relative;
        background: transparent;
        cursor: pointer;
        padding-right: 30px;
        border: none;
        color: #fff;

        svg {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
        }
      }
    }

    .body {
      color: #474955;
      font-size: 13px;
      font-weight: 500;
      border-right: 1px solid #E3E6EC;
      border-bottom: 1px solid #E3E6EC;

      &:not(.id) {
        min-width: 200px;
      }
      &.id {
        justify-content: center;
        border-left: 1px solid #E3E6EC;
      }
    }
  }

  .pagination {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      font-weight: 500;
      color: #474955;
      font-size: 20px;
      transition: .3s;

      p {
        display: block;

        @media (max-width: 768px) {
          display: none;
        }
      }

      svg {
        display: none;

        @media (max-width: 768px) {
          display: block;
        }
      }

      &:hover {
        color: #7EBC3C;
      }
    }

    & > div {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;

      @media (max-width: 500px) {
        gap: 5px;
      }

      button {
        font-size: 18px;
        padding: 5px;
        color: #474955;
        transition: .3s;
        font-style: italic;
        font-weight: 700;


        @media (max-width: 500px) {
          font-size: 16px;
        }

        &.active {
          color: #7EBC3C;
        }
      }
    }
  }

  .status {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    color: #474955;
  }
}